/* COLOURS */

$colour-primary:  #9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary: #99E2D0;

$colour-white: #ffffff;
$colour-grey-1:#F6F6F6;
$colour-grey-2:#EAEAEA;
$colour-grey-3:#CECECE;
$colour-black: #000000;

$colour-button-shadow-light:#C6C6C6;
$colour-button-shadow-dark :#A9A9A9;

$colour-label:   #f6f6f6;
$colour-label-text:#808080;

$colour-step-hover:#f5edff;
$colour-step-shadow:#E6E6E6;

$colour-cards-shadow:#E5E5E5;

$colour-brand-name:#353535;
$colour-footer:    #353535;

$colour-menu-page:#F6F6F6;